# CSC110 Fall 2021: Python libraries we'll be using this semester.

# Testing and code checking
hypothesis
pytest
python-ta

# Data manipulation
nltk
snscrape
pandas

# Graphics and data visualization
plotly
